<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="LectureMapper">
	<resultMap type="Lecture" id="lectureResultMap">
		<id property="lCode" column="L_CODE"/>
		<result property="lType" column="L_TYPE"/>
		<result property="lName" column="L_NAME"/>
		<result property="lObjective" column="L_OBJECTIVE"/>
		<result property="lContents" column="L_CONTENTS"/>
		<result property="textbook" column="TEXTBOOK"/>
		<result property="lDays" column="L_DAYS"/>
		<result property="credit" column="CREDIT"/>
		<result property="lYear" column="L_YEAR"/>
		<result property="lSemester" column="L_SEMESTER"/>
		<result property="lCapacity" column="L_CAPACITY"/>
		<result property="lStatus" column="L_STATUS"/>
		<result property="pCode" column="P_CODE"/>
		<result property="dCode" column="D_CODE"/>
	</resultMap>
	
	<select id="selectAllLectures" resultMap="lectureResultMap">
		SELECT * FROM LECTURE
	</select>
	<select id="selectLpBypCode" resultMap="lectureResultMap" parameterType="string">
		SELECT * FROM LECTURE WHERE P_CODE = #{pCode}
	</select>
	<select id="selectAllYLectures" resultMap="lectureResultMap">
		SELECT * FROM LECTURE
	<where>
	<choose>
		<when test="dCode != 'undefined'.toString()" >
			D_CODE LIKE #{dCode }||'%' AND L_STATUS = 'Y'
		</when>
		<when test="lType != 'undefined'.toString()">
			L_TYPE = #{lType } AND L_STATUS = 'Y'
		</when>
		<when test="dCode != 'undefined'.toString() and lType != 'undefined'.toString()">
			D_CODE LIKE ${dCode }||'%' AND L_TYPE = ${lType } AND L_STATUS = 'Y'
		</when>
		<otherwise>
			L_STATUS = 'Y'
		</otherwise>
	</choose>
	</where>	
	</select>
	
	<select id="selectAllNLectures" resultMap="lectureResultMap">
		SELECT * FROM LECTURE
		<where>
			<choose>
				<when test="dCode != 'undefined'.toString()">
					D_CODE LIKE #{dCode }||'%' AND L_STATUS = 'N'
				</when>
				<when test="lType != 'undefined'.toString()">
					L_TYPE = #{lType } AND L_STATUS = 'N'
				</when>
				<when test="dCode != 'undefined'.toString() and lType != 'undefined'.toString()">
					D_CODE LIKE ${dCode }||'%' AND L_TYPE = ${lType } AND L_STATUS = 'N'
				</when>
				<otherwise>
					L_STATUS = 'N'
				</otherwise>
			</choose>
		</where>
	</select>
	<insert id="insertLecture">
		INSERT INTO LECTURE VALUES(#{lCode}, #{lType}, #{lName}, #{lObjective}, #{lContents}, #{textbook}, #{lDays}, #{credit}, #{lYear}, #{lSemester}, #{lCapacity}, DEFAULT, #{pCode}, #{dCode})
	</insert>
	<update id="updateLectureStatus">
		UPDATE LECTURE SET L_STATUS = 'Y' WHERE L_CODE = #{inVar1 }
	</update>
</mapper>
