<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LectureMapper">
	<resultMap type="Lecture" id="lectureResultMap">
		<id property="lCode" column="L_CODE" />
		<result property="lType" column="L_TYPE" />
		<result property="lName" column="L_NAME" />
		<result property="lObjective" column="L_OBJECTIVE" />
		<result property="lContents" column="L_CONTENTS" />
		<result property="lDays" column="L_DAYS" />
		<result property="credit" column="CREDIT" />
		<result property="lYear" column="L_YEAR" />
		<result property="lSemester" column="L_SEMESTER" />
		<result property="lCapacity" column="L_CAPACITY" />
		<result property="lStatus" column="L_STATUS" />
		<result property="pCode" column="P_CODE" />
		<result property="dCode" column="D_CODE" />
	</resultMap>
	
	<resultMap type="ViewLectureDomain" id="viewLecture">
		<id property="lsNo" column="LS_NO"/>
		<result property="lsDate" column="LS_DATE"/>
		<result property="lsDay" column="LS_DAY"/>
		<result property="lsDay1" column="LS_DAY1"/>
		<result property="lsRoom" column="LS_ROOM"/>
		<result property="lCode" column="L_CODE"/>
		<result property="lType" column="L_TYPE"/>
		<result property="lName" column="L_NAME"/>
		<result property="lsContents" column="LS_CONTENTS"/>
		<result property="lDays" column="L_DAYS"/>
		<result property="pCode" column="P_CODE"/>
		<result property="sCode" column="S_CODE"/>
	</resultMap>

	<resultMap type="EnrollLecture" id="enrollLectureMap">
		<id property="semester" column="SEMESTER" />
		<result property="year" column="L_YEAR" />
		<result property="sCode" column="S_CODE" />
		<result property="lCode" column="L_CODE" />
	</resultMap>
	<select id="selectAllLectures" resultMap="lectureResultMap">
		SELECT * FROM LECTURE
	</select>
	<select id="selectLpBypCode" resultMap="lectureResultMap" parameterType="string">
		SELECT * FROM LECTURE WHERE P_CODE = #{pCode}
	</select>
	<select id="selectAllYLectures" resultMap="lectureResultMap">
		SELECT * FROM LECTURE
		<where>
			<choose>
				<when test="dCode != 'undefined'.toString()">
					D_CODE LIKE #{dCode }||'%' AND L_STATUS = 'Y'
				</when>
				<when test="lType != 'undefined'.toString()">
					L_TYPE = #{lType } AND L_STATUS = 'Y'
				</when>
				<when
					test="dCode != 'undefined'.toString() and lType != 'undefined'.toString()">
					D_CODE LIKE ${dCode }||'%' AND L_TYPE = ${lType } AND L_STATUS = 'Y'
				</when>
				<otherwise>
					L_STATUS = 'Y'
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="selectAllNLectures" resultMap="lectureResultMap">
		SELECT * FROM LECTURE
		<where>
			<choose>
				<when test="dCode != 'undefined'.toString()">
					D_CODE LIKE #{dCode }||'%' AND L_STATUS = 'N'
				</when>
				<when test="lType != 'undefined'.toString()">
					L_TYPE = #{lType } AND L_STATUS = 'N'
				</when>
				<when
					test="dCode != 'undefined'.toString() and lType != 'undefined'.toString()">
					D_CODE LIKE ${dCode }||'%' AND L_TYPE = ${lType } AND L_STATUS
					= 'N'
				</when>
				<otherwise>
					L_STATUS = 'N'
				</otherwise>
			</choose>
		</where>
	</select>
	<insert id="insertLecture">
		INSERT INTO LECTURE VALUES(#{lCode}, #{lType}, #{lName}, #{lObjective}, #{lContents}, #{textbook}, #{lDays}, #{credit}, #{lYear}, #{lSemester}, #{lCapacity}, DEFAULT, #{pCode}, #{dCode})
	</insert>
	<update id="updateLectureStatus">
		UPDATE LECTURE SET L_STATUS = 'Y' WHERE L_CODE =
		#{inVar1 }
	</update>

	<!-- 학생 강의평가조회 -->
	<select id="selectMyLecture" resultMap="lectureResultMap">
		SELECT * FROM LECTURE L
		JOIN ENROLL_LECTURE EL ON(L.L_CODE = EL.L_CODE) WHERE S_CODE = #{sCode}
	</select>
	
	<!-- 학생 강의계획서 조회 -->
	<select id="viewlist" resultMap="viewLecture">
		SELECT * FROM LECTURE L
		JOIN L_SCHEDULE LS ON(L.L_CODE = LS.L_CODE)
		JOIN ENROLL_LECTURE EL ON(L.L_CODE = EL.L_CODE)
		WHERE S_CODE = #{sCode}
	</select>
</mapper>
