<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ProfessorMapper">
	<resultMap type="org.ttt.snu.professor.domain.Professor" id="professorResultMap">
		<id property="pCode" column="P_CODE"/>
		<result property="pName" column="P_NAME"/>
		<result property="pPassword" column="P_PASSWORD"/>
		<result property="pRrn" column="P_RRN"/>
		<result property="pAddress" column="P_ADDRESS"/>
		<result property="pEmail" column="P_EMAIL"/>
		<result property="pGender" column="P_GENDER"/>
		<result property="pPhone" column="P_PHONE"/>
		<result property="pAddmission" column="P_ADDMISSION"/>
		<result property="advisorYN" column="ADVISOR_YN"/>
		<result property="dCode" column="D_CODE"/>
	</resultMap>
	
	<select id="selectCheckLogin"  resultMap="professorResultMap">
		SELECT * FROM PROFESSOR WHERE P_CODE = #{pCode } AND P_PASSWORD = #{pPassword }
	</select>
</mapper>