<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="RehabMapper">
	<resultMap type="org.ttt.snu.rehabilitation.domain.Rehabilitation" id="rehabResultMap">
		<id property="rNum" column="R_NUM"/>
		<result property="rReason" column="R_REASON"/>
		<result property="rSemester" column="R_SEMESTER"/>
		<result property="rYear" column="R_YEAR"/>
		<result property="rStatus" column="R_STATUS"/>
		<result property="rRequestDate" column="R_REQUEST_DATE"/>
		<result property="rMsg" column="R_MSG"/>
		<result property="sCode" column="S_CODE"/>
	</resultMap>
	<resultMap type="org.ttt.snu.student.domain.Student" id="studentResultMap">
		<id property="sCode" column="S_CODE"/>
		<result property="sName" column="S_NAME"/>
		<result property="sRrn" column="S_RRN"/>
		<result property="sPassword" column="S_PASSWORD"/>
		<result property="sAddress" column="S_ADDRESS"/>
		<result property="sEmail" column="S_EMAIL"/>
		<result property="sGender" column="S_GENDER"/>
		<result property="sPhone" column="S_PHONE"/>
		<result property="sAddmission" column="S_ADDMISSION"/>
		<result property="absenceYN" column="ABSENCE_YN"/>
		<result property="transferYN" column="TRANSFER_YN"/>
		<result property="dCode" column="D_CODE"/>
	</resultMap>
	
	<insert id = "requestRehab">
		INSERT INTO REHABILITATION VALUES(REHAB_SEQ.NEXTVAL, #{rReason}, #{rSemester}, #{rYear}, DEFAULT, #{rRequestDate}, #{rMsg}, #{sCode} )
	</insert>

		<select id = "selectRehab" resultMap="rehabResultMap">
		SELECT * FROM REHABILITATION WHERE S_CODE = #{sCode}
	</select>

	<select id="printStudent" resultMap="studentResultMap">
		SELECT S_CODE, S_NAME FROM STUDENT
	</select>
	
	<select id="printRehabilitationList" resultMap="rehabResultMap">
		SELECT * FROM REHABILITATION WHERE R_STATUS = 'N'
	</select>
	<update id="approveRehabilitation">
		UPDATE REHABILITATION SET R_STATUS = 'Y' WHERE S_CODE = #{sCode }
	</update>
	<update id="updateRehabMsg">
		UPDATE REHABILITATION SET R_MSG = #{rMsg } WHERE S_CODE = #{sCode }
	</update>


</mapper>