<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReserveforceMapper">
	<resultMap type="org.ttt.snu.reserveforce.domain.Reserveforce" id="reserveforceResultMap">
		<id property="rfNum" 				column="RF_NUM"/>
		<result property="rfRequestDate"	column="RF_REQUEST_DATE"/>
		<result property="muterDate"		column="MUSTER_DATE"/>
		<result property="rfStatus"			column="RF_STATUS"/>
		<result property="rfMsg"			column="RF_MSG"/>
		<result property="military"			column="MILITARY"/>
		<result property="rank"				column="RANK"/>
		<result property="sCode"			column="S_CODE"/>
	</resultMap>
	<resultMap type="HashMap" id="studentMap">
		<id property="sCode" column="S_CODE"/>
		<id property="sName" column="S_NAME"/>
	</resultMap>
	<resultMap type="org.ttt.snu.student.domain.Student" id="studentResultMap">
		<id property="sCode" 		   column="S_CODE"/>
		<result property="sName"       column="S_NAME"/>
		<result property="sRrn"        column="S_RRN"/>
		<result property="sPassword"   column="S_PASSWORD"/>
		<result property="sAddress"    column="S_ADDRESS"/>
		<result property="sEmail"      column="S_EMAIL"/>
		<result property="sGender"     column="S_GENDER"/>
		<result property="sPhone"      column="S_PHONE"/>
		<result property="sAddmission" column="S_ADDMISSION"/>
		<result property="absenceYN"   column="ABSENCE_YN"/>
		<result property="transferYN"  column="TRANSFER_YN"/>
		<result property="dCode"       column="D_CODE"/>
	</resultMap>
	<select id="selectRfList" resultMap="reserveforceResultMap">
		SELECT * FROM RESERVEFORCE WHERE RF_STATUS = 'N'
	</select>
	<select id="selectStudent" resultMap="studentResultMap">
		SELECT * FROM STUDENT
	</select>
	<update id="approveReserveforce">
		UPDATE RESERVEFORCE SET RF_STATUS = 'Y' WHERE S_CODE = #{sCode }
	</update>
	
</mapper> 