<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TransferMapper">
	<resultMap type="org.ttt.snu.transfer.domain.Transfer" id="transferResultMap">
		<id property="tNo" 				column="T_NO"/>
		<result property="tRequestDate" column="T_REQUEST_DATE"/>
		<result property="tStatus" 		column="T_STATUS"/>
		<result property="tMsg" 		column="T_MSG"/>
		<result property="sCode" 		column="S_CODE"/>
		<result property="dCode" 		column="D_CODE"/>
		<result property="tdCode" 		column="TD_CODE"/>
	</resultMap>

	<resultMap type="org.ttt.snu.student.domain.Student"
		id="studentResultMap">
		<id property="sCode" column="S_CODE" />
		<result property="sName" column="S_NAME" />
		<result property="sRrn" column="S_RRN" />
		<result property="sPassword" column="S_PASSWORD" />
		<result property="sAddress" column="S_ADDRESS" />
		<result property="sEmail" column="S_EMAIL" />
		<result property="sGender" column="S_GENDER" />
		<result property="sPhone" column="S_PHONE" />
		<result property="sAddmission" column="S_ADDMISSION" />
		<result property="absenceYN" column="ABSENCE_YN" />
		<result property="transferYN" column="TRANSFER_YN" />
		<result property="dCode" column="D_CODE" />
	</resultMap>

	<resultMap type="Department" id="departmentResultMap">
		<id property="dCode" column="D_CODE" />
		<result property="dName" column="D_NAME" />
		<result property="dField" column="D_FIELD" />
		<result property="officeName" column="OFFICE_CODE" />
		<result property="tuitionFee" column="TUITION_FEE" />
		<result property="dCapacity" column="D_CAPACITY" />
	</resultMap>
	
	<select id="selectAllDept"
		parameterType="org.ttt.snu.department.domain.Department"
		resultMap="departmentResultMap">
		SELECT * FROM
		DEPARTMENT D
		JOIN STUDENT S ON (D.D_CODE = S.D_CODE)
		WHERE S.S_CODE = #{sCode}
	</select>
	
	<select id="selectListDept" parameterType="org.ttt.snu.department.domain.Department" resultMap="departmentResultMap">
		SELECT * FROM DEPARTMENT
	</select>
	
	<insert id="requestTransfer">
	<!-- 전과번호, 전과신청일, 전과상태, 반려사유, 학생코드, 학과코드, 희망학과코드 -->
		INSERT INTO TRANSFER VALUES(TRAN_SEQ.NEXTVAL, DEFAULT, DEFAULT, #{tMsg}, #{sCode}, #{dCode}, #{tdCode})
	</insert>
	
	<select id="selectStudentList" resultMap="studentResultMap">
		SELECT S_CODE, S_NAME FROM STUDENT
	</select>
	
	<select id="selectTransferList" resultMap="transferResultMap">
		SELECT * FROM TRANSFER WHERE T_STATUS = 'N'
	</select>
	<update id="approveTransfer">
		UPDATE TRANSFER SET T_STATUS = 'Y' WHERE S_CODE = #{sCode }
	</update>
	<update id="rejectTransfer">
		UPDATE TRANSFER SET T_MSG = #{tMsg } WHERE S_CODE = #{sCode }
	</update>

</mapper>