<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VolunteerMapper">
	<resultMap type="org.ttt.snu.volunteer.domain.Volunteer" id="volunteerResultMap">
		<id property="vName"				column="V_NAME"/>
		<result property="vArea"			column="V_AREA"/>
		<result property="vHour"			column="V_HOUR"/>
		<result property="vStart" 			column="V_START"/>
		<result property="vEnd"				column="V_END"/>
		<result property="vEnrollDate"		column="V_ENROLL_DATE"/>
	</resultMap>
	<insert id="insertVolunteer">
		INSERT INTO VOLUNTEER VALUES(#{vName }, #{vArea }, #{vHour }, #{vStart }, #{vEnd }, DEFAULT)
	</insert>
	<select id="selectVolunteerList" resultMap="volunteerResultMap">
		SELECT * FROM VOLUNTEER 
	</select>
	<delete id="deleteVolunteer" parameterType="string">
		DELETE FROM VOLUNTEER WHERE V_NAME = #{vName }
	</delete>
</mapper>