<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VolunteerMapper">
	<resultMap type="org.ttt.snu.volunteer.domain.Volunteer" id="volunteerResultMap">
		<id property="vCode"				column="V_CODE"/>
		<result property="vName"			column="V_NAME"/>
		<result property="vArea"			column="V_AREA"/>
		<result property="vHour"			column="V_HOUR"/>
		<result property="vStart" 			column="V_START"/>
		<result property="vEnd"				column="V_END"/>
		<result property="vEnrollDate"		column="V_ENROLL_DATE"/>
		<result property="vInfo"		column="V_INFO"/>
		
	</resultMap>
	<insert id="insertVolunteer">
		INSERT INTO VOLUNTEER VALUES(#{vCode },#{vName }, #{vArea }, #{vHour }, #{vStart }, #{vEnd }, DEFAULT, #{vInfo })
	</insert>
	<select id="selectVolunteerList" resultMap="volunteerResultMap">
		SELECT * FROM VOLUNTEER 
	</select>
	<delete id="deleteVolunteer" parameterType="string">
		DELETE FROM VOLUNTEER WHERE V_CODE = #{vCode }
	</delete>
	<update id="updateVolunteer">
		UPDATE VOLUNTEER
		SET V_NAME = #{vName }, V_AREA = #{vArea }, V_HOUR = #{vHour }, 
		V_START = #{vStart }, V_END = #{vEnd }, V_ENROLL_DATE = DEFAULT, V_INFO = #{vInfo} WHERE V_CODE = #{vCode }
	</update>
</mapper>