<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약에 null 데이터가 전달되었으면 빈칸이 아닌 NULL로 인식하도록 설정 -->
	</settings>
	<typeAliases>
		<typeAlias type="org.ttt.snu.board.domain.Board" alias="Board"/>
		<typeAlias type="org.ttt.snu.board.domain.Comments" alias="Comments"/>
		<typeAlias type="org.ttt.snu.attendance.domain.Attendance" alias="Attendance"/>
		<typeAlias type="org.ttt.snu.grade.domain.Grade" alias="Grade"/>
		<typeAlias type="org.ttt.snu.lecture.domain.Lecture" alias="Lecture"/>
		<typeAlias type="org.ttt.snu.admin.domain.Admin" alias="Admin"/>
		<typeAlias type="org.ttt.snu.professor.domain.Professor" alias="Professor"/>
		<typeAlias type="org.ttt.snu.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="org.ttt.snu.info.domain.Info" alias="Info"/>
		<typeAlias type="org.ttt.snu.academicCaldedar.domain.AcademicCalendar" alias="AcademicCalendar"/>
		<typeAlias type="org.ttt.snu.volunteer.domain.Volunteer" alias="Volunteer"/>
		<typeAlias type="org.ttt.snu.transfer.domain.Transfer" alias="Transfer"/>
		<typeAlias type="org.ttt.snu.scholarship.domain.Scholarship" alias="Scholarship"/>
		<typeAlias type="org.ttt.snu.department.domain.Department" alias="Department"/>
		<typeAlias type="org.ttt.snu.reserveforce.domain.Reserveforce" alias="Reserveforce"/>
		<typeAlias type="org.ttt.snu.rehabilitation.domain.Rehabilitation" alias="Rehabilitation"/>
		<typeAlias type="org.ttt.snu.enrollLecture.domain.EnrollLecture" alias="EnrollLecture"/>
		<typeAlias type="org.ttt.snu.enrollLecture.domain.EnrollLectureDomain" alias="EnrollLectureDomain"/>
		<typeAlias type="org.ttt.snu.lectureSchedule.domain.ViewLectureSchedule" alias="ViewLectureDomain"/>
		<typeAlias type="org.ttt.snu.student.domain.Student" alias="Student"/>
		<typeAlias type="org.ttt.snu.book.domain.Book" alias="Book"/>
		<typeAlias type="org.ttt.snu.loa.domain.Loa" alias="Loa"/>
		<typeAlias type="org.ttt.snu.reserveforce.domain.Reserveforce" alias="Reserveforce"/>
		<typeAlias type="org.ttt.snu.requestScholarship.domain.RequestScholarship" alias="RequestScholarship"/>
		<typeAlias type="org.ttt.snu.requestSch.domain.RequestSch" alias="RequestSch"/>
		<typeAlias type="org.ttt.snu.requestVolunteer.domain.RequestVolunteer" alias="RequestVolunteer"/>

		<typeAlias type="org.ttt.snu.qna.domain.Qna" alias="Qna"/>
			<typeAlias type="org.ttt.snu.qna.domain.QnaReply" alias="QnaReply"/>

		<typeAlias type="org.ttt.snu.timetable.domain.Timetable" alias="Timetable"/>

		

		<typeAlias type="org.ttt.snu.grade.domain.ScoreList" alias="ScoreList"/>

		<typeAlias type="org.ttt.snu.lectureEvaluation.domain.LectureEvaluation" alias="LectureEvaluation"/>
		<typeAlias type="org.ttt.snu.grade.domain.LectureGrade" alias="LectureGrade"/>
		
		







	</typeAliases>
	<mappers>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/student-mapper.xml"/>
		<mapper resource="mappers/book-mapper.xml"/>		
		<mapper resource="mappers/attendance-mapper.xml"/>
		<mapper resource="mappers/grade-mapper.xml"/>
		<mapper resource="mappers/lecture-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/professor-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/info-mapper.xml"/>
		<mapper resource="mappers/academicCalendar-mapper.xml"/>
		<mapper resource="mappers/volunteer-mapper.xml"/>
		<mapper resource="mappers/transfer-mapper.xml"/>
		<mapper resource="mappers/scholarship-mapper.xml"/>
		<mapper resource="mappers/department-mapper.xml"/>
		<mapper resource="mappers/requestScholarship-mapper.xml"/>
		<mapper resource="mappers/requestSch-mapper.xml"/>
		<mapper resource="mappers/loa-mapper.xml"/>
		<mapper resource="mappers/reserveforce-mapper.xml"/>
		<mapper resource="mappers/rehabilitation-mapper.xml"/>
		<mapper resource="mappers/requestVolunteer-mapper.xml"/>
		<mapper resource="mappers/lectureEvaluation-mapper.xml"/>

		<mapper resource="mappers/qna-mapper.xml"/>

		<mapper resource="mappers/timetable-mapper.xml"/>

	</mappers>
</configuration>